
$section-background: #999;
$section-header-width: 100px;

body {
	font-family: Georgia, serif;
}

header {
	font-size: 1.75rem;
	text-align: center;
	margin-bottom: 1em;

	section > & {
		font-size: 1.25rem;
	}
}

section {
	background-color: $section-background;
	border: 1px solid black;

	margin: 10px;
	position: relative;

	& > article {
		padding: 5px 10px;
		margin-top: 2rem;
		font-size: 1rem;
	}

	& > header {
		border: 1px solid black;
		min-width: $section-header-width;

		position: absolute;
		top: 0;
		right: 0;

		&.chicken {
			background-color: #D59898;
		}

		&.beef {
			background-color: #C14543;
		}

		&.sushi {
			background-color: #E5D198;
		}
	}
}
